
<div class="container">
  <div class='row'>
    <%= form_tag(create_session_path, method: "post", class:'col-md-8 col-md-offset-4') do %>
      <div class="field">
        <%= label_tag(:email, "Email Address") %><br>
        <%= text_field_tag(:email) %>
      </div>
      <div class="field">
        <%= label_tag(:password, "Password") %><br>
        <%= password_field_tag(:password) %>
      </div>
      <div class="actions">
        <%= submit_tag("login") %>
      </div>
    <% end %>
  </div>
</div>