<h2>menu_items#show_one</h2>
<h2>Single Menu Item</h2>
<div>
<div><%=@menu_item.item%></div>
<div><%=@menu_item.price%></div>
<div><%=@menu_item.category%></div>
<div><%=@menu_item.description%></div>
<div><%=@menu_item.get_locations.join(', ')%></div>
<div>PHOTO THUMBNAIL</div>
</div>
<div>
<%=link_to 'edit', edit_menu_item_path%>
</div>


